body{
    background-color: #f1f4fd;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    outline: 1px solid blue;
}

.wrapper {
    width: 80vw;
    outline: 3px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.attribution{
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%); 
}
.container{
    border-radius: 10px;

}

.result{
    background-color: #302ce9;
   border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center; /* why is not working the vertical alignment?*/
}

.container-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:blue;
    width: 40%;
    height: 250px;
   z-index: 4;
}
.container-summary{
    display: inline-block;
    text-align: center;
    
    background-color:white;
    width: 40%;
    height: 250px;
    border-radius: 0 10px 10px 0;
    margin-left: -1rem;
    z-index: 0;
}

.p-summary{
    
    border-radius: 10px;
    
    height: 30px;
}


.reaction{
    
    background-color:#fff6f5 ;
}
.memory{
    
    background-color:#fffbf2 ;
}
.verbal{
    
    background-color:#f2fafa ;
}
.visual{
    
    background-color:#f3f3fd ;
}

.button-continue{
   background-color: #302ce9;
   
}
